.p-hero
  .p-hero__buttons
    - if customer_signed_in? || planner_signed_in?
      = link_to 'マイページ', mypage_path, class: 'p-hero__buttons__btn'
    - if customer_signed_in?
      = link_to 'ログアウト', destroy_customer_session_path, method: 'delete', class: 'p-hero__buttons__btn'
    - elsif planner_signed_in?
      = link_to 'ログアウト', destroy_planner_session_path, method: 'delete', class: 'p-hero__buttons__btn'
  h1.p-hero__title
    | ファイナンシャル相談所
.p-offer
  .p-offer-content--customer
    h2 相談したい方
    - if customer_signed_in?
      = link_to '予約する', planners_path, class: 'p-offer-content__btn'
    - else
      = link_to '登録する', new_customer_registration_path, class: 'p-offer-content__btn'
      = link_to 'ログインする', new_customer_session_path, class: 'p-offer-content__btn'
  .p-offer-content--planner
    h2 FPの方
    - if planner_signed_in?
      = link_to '予約枠設定', reservable_frames_path, class: 'p-offer-content__btn'
    - else
      = link_to '登録する', new_planner_registration_path, class: 'p-offer-content__btn'
      = link_to 'ログインする', new_planner_session_path, class: 'p-offer-content__btn'
