.p-devise
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'p-devise-form' })  do |f|
    = devise_error_messages!
    .p-devise-form__field
      = f.label :email, class: 'p-devise-form__label'
      br
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'p-devise-form__input'
    .p-devise-form__field
      = f.label :name, class: 'p-devise-form__label'
      br
      = f.text_field :name, class: 'p-devise-form__input'

    .p-devise-form__field
      = f.label :password, class: 'p-devise-form__label'
      - if @minimum_password_length
        em
          | (
          = @minimum_password_length
          |  characters minimum)
      br
      = f.password_field :password, autocomplete: 'off', class: 'p-devise-form__input'
    .p-devise-form__field
      = f.label :password_confirmation, class: 'p-devise-form__label'
      br
      = f.password_field :password_confirmation, autocomplete: 'off', class: 'p-devise-form__input'
    .p-devise-form__field
      = f.submit 'Sign up', class: 'p-devise-form__button'
