.p-devise {
  width: 100%;
  height: 100vh;
  background: #eee;
  padding: 16px;
  &-form {
    background-color: #fff;
    max-width: 480px;
    margin: 0 auto;
    padding: 16px;
    box-shadow: 2px 2px 2px #ccc;
    &__field {
      margin: 16px 0;
    }
    &__label {
      margin-bottom: 8px;
      display: inline-block;
    }
    &__input {
      width: 100%;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 1px solid #ccc;
      padding: 6px;
      border-radius: 4px;
    }
    &__button {
      width: 100%;
      height: 32px;
      border: none;
      border-radius: 4px;
      background-color: #0069d9;
      color: #fff;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }
}
