.p-hero {
  background-image: image-url('hero_bg.jpg');
  background-size: cover;
  background-position: center;
  height: 640px;
  position: relative;
  &__title {
    background-color: rgba(255, 255, 255, 0.5);
    color: #555;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    width: 90%;
    height: 3rem;
    margin: auto;
    padding: 180px 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__buttons {
    position: absolute;
    top: 24px;
    right: 16px;
    &__btn {
      color: #000;
      text-decoration: none;
      border: 1px solid #666;
      padding: 8px 16px;
      margin: 4px;
      border-radius: 4px;
      &:visited {
        text-decoration: none;
        color: #666;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
