.p-mypage {
  margin-top: 32px;
  &-table {
    margin: 16px 0;
    tr {
      td, th {
        padding: 8px;
        border: 1px solid #ccc;
      }
      th {
        background-color: #eee;
      }
    }
  }
}
