.p-offer {
  width: 100%;
  text-align: center;
  &-content {
    display: inline-block;
    width: 50%;
    height: 320px;
    color: #fff;
    a {
      color: #fff;
    }
    h2 {
      position: relative;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 64px;
      padding: 2rem 0;
      &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        display: inline-block;
        width: 60px;
        height: 5px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: #fff;
        border-radius: 2px;
      }
    }
    &--customer {
      vertical-align: top;
      @extend .p-offer-content;
      background-color: #335EA3;
    }
    &--planner {
      vertical-align: top;
      @extend .p-offer-content;
      background-color: #CB5931;
    }
    &__btn {
      border: 3px solid #fff;
      border-radius: 10px;
      display: inline-block;
      max-width: 160px;
      width: 100%;
      margin: 16px;
      padding: 16px;
      text-decoration: none;
    }
  }
}
