.p-reservations{
  margin-top: 16px;
  &-table {
    width: 100%;
    tr {
      th {
        vertical-align: middle;
      }
      td {
        background-color: #eee;
        text-align: center;
        height: 50px;
        border: 4px solid #fff;
        vertical-align: middle;
        &::after {
          color: #999;
          content: 'x';
        }
        &.-reservable {
          background-color: #fff;
          &::after {
            color: #ff5555;
            content: '◎';
          }
        }
      }
    }
  }
}
