.u-h1 {
  margin: 12px 0;
  font-size: 28px;
}

.u-h2 {
  margin: 12px 0;
  font-size: 24px;
}

.u-h3 {
  margin: 12px 0;
  font-size: 22px;
}

.u-h4 {
  margin: 12px 0;
  font-size: 20px;
}

.u-h5 {
  margin: 12px 0;
  font-size: 18px;
}

.u-h6 {
  margin: 12px 0;
  font-size: 16px;
}
