.l-header
  h1.l-header__title
    = link_to 'ファイナンシャル相談所', root_path
  .l-header__buttons
    - if customer_signed_in?
      = link_to 'マイページ', mypage_path, class: 'l-header__buttons__btn'
      = link_to 'ログアウト', destroy_customer_session_path, method: 'delete', class: 'l-header__buttons__btn'
    - elsif planner_signed_in?
      = link_to 'マイページ', mypage_path, class: 'l-header__buttons__btn'
      = link_to 'ログアウト', destroy_planner_session_path, method: 'delete', class: 'l-header__buttons__btn'
