.l-container
  .p-reservations
    h1.u-h1
      = "#{@planner.name}さんに予約"
    table.p-reservations-table.js-reservations-table[data={ reservable_frames: @reservable_frames.to_json }]
      thead
        tr
          th
          - @time_frames.each do |tf|
            th = tf.start.strftime('%H:%M')
      tbody
        - @dates.each do |date|
          tr
            th = date.strftime('%m/%d')
            - @time_frames.each do |frame|
              td.js-time-frame-td[data={ time_frame_id: frame.id, date: date.to_s }]
