.l-header {
  width: 100%;
  height: 64px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  background-color: #E2750F;
  &__title {
    padding: 20px 8px;
    font-size: 24px;
    color: #fff;
    float: left;
    a {
      text-decoration: none;
      &:visited {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  &__buttons {
    float: right;
    height: 64px;
    padding: 12px;
    &__btn {
      display: inline-block;
      color: #fff;
      text-decoration: none;
      border: 1px solid #fff;
      padding: 8px 16px;
      margin: 4px;
      border-radius: 4px;
      &:visited {
        text-decoration: none;
        color: #fff;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
