.p-devise
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'p-devise-form'}) do |f|
    .p-devise-form__field
      = f.label :email, class: 'p-devise-form__label'
      br
      = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'p-devise-form__input'
    .p-devise-form__field
      = f.label :password, class: 'p-devise-form__label'
      br
      = f.password_field :password, autocomplete: 'off', class: 'p-devise-form__input'
    - if devise_mapping.rememberable?
      .p-devise-form__field
        = f.check_box :remember_me
        = f.label :remember_me, class: 'p-devise-form__label'
    .p-devise-form__field
      = f.submit 'Log in', class: 'p-devise-form__button'
