.l-container
  .p-reservable-frames
    h1.u-h1 予約枠受付設定画面
    small 予約を受け付ける枠を設定することができます。

    table.js-reservable-frame-table[data-reservable-frames=@reservable_frames.to_json]
      thead
        tr
          th
          - @time_frames.each do |frame|
            th
              = frame.start.strftime('%H:%M')
              | ~
      tbody
        - @dates.each do |date|
          tr
            td = date
            - @time_frames.each do |frame|
              td.js-time-frame-td[data={ date: date, frame_id: frame.id, enable: frame.enable?(date).to_s, reservable: 'false' }]
