h2.u-h2
  | 予約の確認(利用者向け)
table.p-mypage-table
  thead
    tr
      th 日付
      th 時間
      th プランナー
  tbody
    - customer_reservations.each do |r|
      tr
        td = r.reservable_frame.date
        td
          = r.reservable_frame.time_frame.start.strftime('%H:%M')
          | 〜
          = r.reservable_frame.time_frame.end.strftime('%H:%M')
        td = r.reservable_frame.planner.name
