.l-container
  .p-mypage
    - if planner_signed_in?
      = render 'planner_reservations', planner_reservations: @planner_reservations
    - if customer_signed_in?
      = render 'customer_reservations', customer_reservations: @customer_reservations
